<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="C:\Users\daobando\AppData\Local\Microsoft\dotnet\dotnet.exe" arguments="..\Server.dll" stdoutLogEnabled="true" stdoutLogFile=".\stdout" forwardWindowsAuthToken="true" />
  </system.webServer>
</configuration>